Smart.WebSite/Service References/srTest/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBE_Test">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BE_Test" nillable="true" type="tns:BE_Test" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBE_Test" nillable="true" type="tns:ArrayOfBE_Test" />
  <xs:complexType name="BE_Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BE_Test" nillable="true" type="tns:BE_Test" />
</xs:schema>