Smart.WebSite/Service References/srTest/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" />
  <xs:element name="listar_Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listar_TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" minOccurs="0" name="listar_TestResult" nillable="true" type="q1:ArrayOfBE_Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>