Smart.WebSite/Service References/srAdmonSitio/CompaniasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdmonSitioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdmonSitioContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdmonSitioContract_insert_Companias_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_Companias" />
  </wsdl:message>
  <wsdl:message name="IAdmonSitioContract_insert_Companias_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_CompaniasResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmonSitioContract_insert_Perfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_Perfiles" />
  </wsdl:message>
  <wsdl:message name="IAdmonSitioContract_insert_Perfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_PerfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdmonSitioContract_insert_CompaniasBitacoraAcciones_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_CompaniasBitacoraAcciones" />
  </wsdl:message>
  <wsdl:message name="IAdmonSitioContract_insert_CompaniasBitacoraAcciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_CompaniasBitacoraAccionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdmonSitioContract">
    <wsdl:operation name="insert_Companias">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_Companias" message="tns:IAdmonSitioContract_insert_Companias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_CompaniasResponse" message="tns:IAdmonSitioContract_insert_Companias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert_Perfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_Perfiles" message="tns:IAdmonSitioContract_insert_Perfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_PerfilesResponse" message="tns:IAdmonSitioContract_insert_Perfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert_CompaniasBitacoraAcciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_CompaniasBitacoraAcciones" message="tns:IAdmonSitioContract_insert_CompaniasBitacoraAcciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdmonSitioContract/insert_CompaniasBitacoraAccionesResponse" message="tns:IAdmonSitioContract_insert_CompaniasBitacoraAcciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdmonSitioContract" type="tns:IAdmonSitioContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdmonSitioContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="insert_Companias">
      <soap12:operation soapAction="http://tempuri.org/IAdmonSitioContract/insert_Companias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_Perfiles">
      <soap12:operation soapAction="http://tempuri.org/IAdmonSitioContract/insert_Perfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_CompaniasBitacoraAcciones">
      <soap12:operation soapAction="http://tempuri.org/IAdmonSitioContract/insert_CompaniasBitacoraAcciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmonSitioService">
    <wsdl:port name="NetTcpBinding_IAdmonSitioContract" binding="tns:NetTcpBinding_IAdmonSitioContract">
      <soap12:address location="net.tcp://localhost:1190/AdmonSitioService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1190/AdmonSitioService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>