Smart.WebSite/Service References/srAdmonSitio/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Companias_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompaniaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CorreoContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaSis" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreBD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Companias_BE" nillable="true" type="tns:Companias_BE" />
  <xs:complexType name="Perfiles_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaSis" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Funcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfilID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfiles_BE" nillable="true" type="tns:Perfiles_BE" />
  <xs:complexType name="CompaniasBitacoraAcciones_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgregarCompania" type="xs:boolean" />
      <xs:element minOccurs="0" name="AgregarMembership" type="xs:boolean" />
      <xs:element minOccurs="0" name="AgregarPerfil" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="EnvioCorreo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompaniasBitacoraAcciones_BE" nillable="true" type="tns:CompaniasBitacoraAcciones_BE" />
</xs:schema>