Smart.WebSite/Service References/srAdmonSitio/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" />
  <xs:element name="insert_Companias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" minOccurs="0" name="compania" nillable="true" type="q1:Companias_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_CompaniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insert_CompaniasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_Perfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" minOccurs="0" name="perfil" nillable="true" type="q2:Perfiles_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_PerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insert_PerfilesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_CompaniasBitacoraAcciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Smart.BussinesEntities" minOccurs="0" name="acciones" nillable="true" type="q3:CompaniasBitacoraAcciones_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_CompaniasBitacoraAccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insert_CompaniasBitacoraAccionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>